<div class="main">
	<div>
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">&nbsp;表&nbsp;</a></li>
		    <li><a href="#tab2" data-toggle="tab">&nbsp;图&nbsp;</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <table id="classAvgPower" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>题号</th>
						<th>得分率</th>
						<th>正确答案</th>
						<th colspan="2">错题人数</th>
						<th>错题学生名单</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3">1</td>
						<td rowspan="3">82.05%</td>
						<td rowspan="3">D</td>
						<td>A</td>
						<td>4</td>
						<td>学1,学2,学3,学4</td>
					</tr>
					<tr>
						<td>B</td>
						<td>2</td>
						<td>学5,学6</td>
					</tr>
					<tr>
						<td>C</td>
						<td>1</td>
						<td>学7</td>
					</tr>
					<tr>
						<td rowspan="2">1</td>
						<td rowspan="2">66.67%</td>
						<td rowspan="2">C</td>
						<td>B</td>
						<td>4</td>
						<td>学1,学2,学3,学4</td>
					</tr>
					<tr>
						<td>D</td>
						<td>2</td>
						<td>学5,学6</td>
					</tr>
				</tbody>
			</table>
		    </div>
		    <div class="tab-pane" id="tab2" style="text-align: center;">
		    	<div class="row-fluid">
					<div class="span12">
						<div class="btn-group algin-left">
			                <button class="btn dropdown-toggle btn-choose" data-toggle="dropdown">
				                 <span data-ng-bind="question.current"></span> 
				                 <span class="caret"></span>
			                </button>
			                <ul class="dropdown-menu">
			                  <li data-ng-repeat="l in question.list" data-ng-class="{active: question.current==l.name}">
			                  	<a href="javascript:;" data-ng-bind="l.name" data-ng-click="question.set(l.name)"></a>
			                  </li>
			                </ul>
			            </div>
					</div>
				</div>
		      	<div id="oqaChart" class="chart"></div>
		    </div>
		  </div>
		</div>
	</div>
</div>