<div class="main">
	<div class="row-fluid title">
		<div class="span2">
		选择考试:&nbsp;&nbsp;<div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
	                 <span data-ng-bind="exam.current"></span> 
	                 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li data-ng-repeat="e in exam.list">
                  	<a href="javascript:;" data-ng-bind="e.name" data-ng-click="exam.set(e.name)"></a>
                  </li>
                </ul>
            </div>
		</div>
		<div class="span2">
			选择班级:&nbsp;&nbsp;<div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
	                 <span data-ng-bind="klass.current()"></span> 
	                 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li data-ng-repeat="l in klass.list" data-ng-click="klass.click(l, $event)">
                  	<a href="javascript:;">
                  		<img class="v-cb" data-ng-class="{'v-checked': l.checked}"></img>
	                  	<span data-ng-bind="l.name"></span>
                  	</a>
                  </li>
                </ul>
            </div>
		</div>
		<div class="span1">
			<button class="btn btn-info" data-ng-click="subject.setStateReal()">确定</button>
		</div>
	</div>
	<div>
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">&nbsp;表&nbsp;</a></li>
		    <li><a href="#tab2" data-toggle="tab">&nbsp;图&nbsp;</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <table id="classAvgPower" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th colspan="3">学生情况</th>
						<th>1大题</th>
						<th colspan="2">2大题</th>
						<th>3大题</th>
					</tr>
					<tr>
						<th>姓名</th>
						<th>班级</th>
						<th>总分</th>
						<th>1小题</th>
						<th>1小题</th>
						<th>2小题</th>
						<th>1小题</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>孔睿</td>
						<td>1班</td>
						<td>88</td>
						<td>0</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
					</tr>
					<tr>
						<td>孔睿</td>
						<td>1班</td>
						<td>88</td>
						<td>0</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
					</tr>
					<tr>
						<td>孔睿</td>
						<td>1班</td>
						<td>88</td>
						<td>0</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		    </div>
		    <div class="tab-pane" id="tab2" style="text-align: center;">
		      <div id="questionChart" class="chart"></div>
		    </div>
		  </div>
		</div>
	</div>
</div>