@CHARSET "UTF-8";
.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200%;
	height: 100%;
	z-index: 19891032;
	background-color: rgb(0, 0, 0);
	opacity: 0.25;
	filter:alpha(opacity=25)
}
.modal-loader {
	z-index: 19891036;
}
.modal-alert, .modal-confirm {
	z-index: 19891034;
}
.dialog {
	position: fixed;
	z-index: 19891033;
	width: 250px;
	height: 130px;
	left: 50%;
	top: 50%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	background:#fff;
	border:0px solid #bdbdbd;
	box-shadow: 0px 0px 10px #aaa;
}
.dialog-alert, .dialog-confirm {
	z-index: 19891035;
}
.dialog .title {
	padding: 5px 2px;
}
.dialog .title .text {
	padding-left: 10px;
}
.dialog .title .close-btn {
	float: right;
	padding-right: 6px;
	cursor: pointer;
}
.dialog .content {
	padding: 18px 2px;
	text-align: center;
}
.dialog .content-dialog {
	padding: 10px 2px;
	text-align: center;
}
.dialog .bottom {
	padding: 5px 2px;
	text-align: center;
}
.dialog .bottom button {
	margin: 0 5px;
}

.loader {
	position: fixed;
	z-index: 19891037;
	width: 300px;
	height: 30px;
	left: 50%;
	top: 50%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	background:#fff;
	border:0px solid #bdbdbd;
	box-shadow: 0px 0px 10px #aaa;
	text-align: center;
}
.loader .text {
	padding-left: 10px;
}