body{
	background: #FFF url(../img/bg4.jpg) no-repeat 0 0 fixed;
	overflow-x: hidden; 
}

.ng-hide {
	display: none;
}

.navbar .nav>li>a {
	color: #000!important;
	text-shadow: none!important;
}
.navbar .nav>.active>a {
	background: rgb(214,231,241)!important;
}
th,td {
	text-align: center!important;
}

.title {
	padding: 7px 10px 0 10px;
}
.main {
	padding: 5px;
}
.v-cb {
	width: 14px;
	height: 14px;
	background: url("../img/un-checked.png");
}
.v-cb.v-checked {
	background: url("../img/checked.png");
}
.chart {
	float: left;
	height: 500px;
	width: 800px;
}
.btn-choose {
	width: 162px;
}
.algin-left {
	text-align: left;
}